# Node.js dependencies
node_modules/

# Environment variables
.env
.env.me
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Local builds
dist/
build/

# Editor and IDE files
.vscode/
.idea/
*.swp
*.iml

# Coverage and test results
coverage/
*.lcov

# Temporary files
tmp/
*.tmp
debug.log

.env*
.flaskenv*
!.env.project
!.env.vault